[project]
	description = libraries and setting for my eagle projects
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/vetal999
[access "refs/for/refs/*"]
	read = group user/vetal999
	push = group user/vetal999
	label-Code-Review = -2..+2 group user/vetal999
	label-Verified = -1..+1 group user/vetal999
	rebase = group user/vetal999
	removeReviewer = group user/vetal999
	submit = group user/vetal999
[access "refs/heads/*"]
	read = group user/vetal999
	create = group user/vetal999
	push = +force group user/vetal999
	pushMerge = group user/vetal999
[access "refs/tags/*"]
	push = +force group user/vetal999
	pushTag = group user/vetal999
	pushSignedTag = group user/vetal999
